{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script>
// websocket scripts

  var location = window.location
  var websocketstart = 'ws://'
  if (location.protocol == 'https:'){ //for secure connection
    websocketstart = 'wss://'
  }
  var endpoint = websocketstart + location.host + location.pathname //this cannot be empty
  var socket = new WebSocket(endpoint)

  socket.onmessage = function(e){
    console.log("message", e)
  }
  socket.onerror = function(e){
    console.log("error", e)
  }
  socket.onopen = function(e){
    console.log("opened", e)
  }
  socket.onclose = function(e){
    console.log("closed", e)
  }
</script>
{% endblock %}